@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

@font-face {
  font-family: "MALGUN";
  src: local("MALGUN"), url("./assets/fonts/MALGUNSL.TTF") format("opentype");
}

.headertext-welcome {
  font-family: "Pinyon Script", cursive;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-top: 3%;
}

.headertext-name {
  font-weight: normal;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.headertext-date {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f5ece5;
}

.flower-and-header {
  position: relative;
  min-height: fit-content;
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #f5ece5;
  overflow-x: hidden;
}

.flowers {
  height: 150px;
  overflow-x: hidden;
}

.flowers.top.right {
  transform: rotate(190deg) scaleX(-1.1) scaleY(1.1);
  overflow-x: hidden;
}

.flowers.top.left {
  transform: rotate(170deg) scaleX(-1.1) scaleY(1.1);
}

.flowers.bottom.right {
  transform: rotate(-10deg);
  overflow: hidden;
}

.flowers.bottom.left {
  transform: rotate(10deg);
  overflow: hidden;
}

.flower-row-bottom {
  position: relative;
  min-height: fit-content;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f5ece5;
  margin-top: auto;
  overflow: hidden;
}

.HeaderBox {
  display: flex;
  background-color: #f5ece5;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 3%;
}

.Header {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.HeaderButtons {
  /* display: flex; */

  width: 95%;
  display: table;
  table-layout: fixed; /* align-items: center; */
  height: 100%;

  /* justify-content: center; */
  /* align-self: center; */
}

.header-line {
  display: flex;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  width: 100%;
  margin-top: 6%;
  align-self: center;
}

.weddingday-line {
  display: flex;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 3em 0;
  width: 100%;
}

.MainPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5ece5;
  display: flex;
  flex-direction: column;
}

.PageBox {
  margin-top: 3%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: #f5ece5;
}

.page-top-header {
  font-family: "Pinyon Script";
  font-weight: normal;
  font-size: 2.5rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: grid;
  grid-auto-flow: row;
  border-style: solid;
  border-color: #ff00ff;
  border-width: 4px;
}

.flip-card-front {
  background-color: #a3b19b;
  color: whitesmoke;
}

.flip-card-back {
  background-color: rgb(93, 153, 187);
  color: whitesmoke;

  transform: rotateY(180deg);
}

.TextGroup {
  line-height: 0.8;
}

.menu-button {
  flex: 1;
  font-size: medium;
  border-width: 0px;
  background-color: #f5ece5;
  font-family: "MALGUN";
  margin: 2px;
}

.menu-button.selected {
  font-weight: bolder;
}

.menu-button:hover {
  background-color: #efe3db; /*#e7d9ce;  https://meyerweb.com/eric/tools/color-blend/#F5ECE5:E7D9CE:10:hex*/
  cursor: pointer;
}

.welcome-page {
  width: 50%;
}

.welcome-page-mobile {
  width: 95%;
}

.notice-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 60%;
}

.notice-form {
  border-width: 5px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  width: 70%;
  background-color: #f7e7db;
  margin-top: 3%;
}

.form-person {
  width: 90%;
  height: auto;
  border-width: 3px;
  border-style: dashed;
  border-color: #ccc;
  margin-top: 1rem;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  border-width: 3px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  margin-bottom: 1rem;
  align-items: flex-start;
  width: 90%;
  background-color: #fdf4ed;
}

.form-textinput {
  margin-left: 1rem;

  margin-bottom: 1rem;

  line-height: 30px;
  font-size: large;
  width: 90%;
}

.InputWithLabel {
  width: 90%;

  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: flex-start;
  font-weight: bold;
}

.form-header {
  font-weight: bold;
  font-size: medium;
  line-height: 1.2;
  padding-left: 1rem;
}

.form-radiobuttons-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radiobuttons-box {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-bottom: none;
  width: 100%;
}

.form-radiobuttons {
  margin: 1rem;
  display: flex;
  align-items: flex-start;
}

.form-textarea {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: large;

  width: 90%;
  height: 100px;
  resize: none;
}

.form-button {
  margin-top: 1%;
  margin-bottom: 3%;
  background-color: #fdf4ed;
  border-radius: 15px;
  font-size: medium;
  padding: 10px;
}

.form-button:hover {
  background-color: #faf5f1;
  cursor: pointer;
}

.button-disabled {
  border-radius: 50%;
  background-color: #ffabab;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  font-size: medium;
}

.button-remove {
  border-radius: 50%;
  background-color: #ff0000;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  font-size: medium;
}

.button-remove:hover {
  background-color: #ff5151;
  cursor: pointer;
}

.weddingday-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.weddingday-page-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 60%;
}

.weddingday-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  text-align: left;
}

.weddingday-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.weddingday-image {
  display: flex;
  margin-right: 1rem;
  height: 100%;
  margin-top: 0px;
  padding: 0px;
  height: 150px;
}

.toast-image {
  display: flex;
  margin-right: 1rem;
  margin-top: 0px;
  padding: 0px;
  width: 250px;
}

.toast-image2 {
  display: flex;
  margin-right: 1rem;
  margin-top: 0px;
  padding: 0px;
  width: 250px;
  height: 250px;
}
.standard-header {
  font-weight: BOLD;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "MALGUN";
  margin-bottom: 0.8em;
}

.standard-text {
  margin-bottom: 0;
  padding: 0;
  font-family: "MALGUN";
  white-space: pre-wrap;
  word-wrap: break-word;
}

.standard-text.bold {
  font-weight: bolder;
}

.standard-text-no-margins {
  margin: 0;
  padding: 0;
  font-family: "MALGUN";
  white-space: pre-wrap;
  word-wrap: break-word;
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;

  margin: 0;
  padding: 0;
  font-family: "MALGUN";

  font-size: medium;
}

.countdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5ece5;
  padding-top: 5%;
}

.timer-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  width: 50%;
  margin-bottom: 1%;
}

.content-desktop {
  width: 30%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  background-color: #f5ece5;
  margin-bottom: 3%;
}

.content-mobile {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5ece5;
  margin-bottom: 3%;
}

.countdown h2 {
  font-size: xx-large;
  margin: 0;
  font-family: "MALGUN";
  background-color: #f5ece5;
}

.countdown .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  background-color: #f5ece5;
}

.countdown .value {
  margin: 0;
  padding: 0;
  font-family: "MALGUN";
  font-size: xx-large;
}

.countdown .label {
  margin: 0;
  padding: 0;
  font-family: "MALGUN";
  font-size: large;
}

.timeline {
  width: 75%;
  margin: 20px auto;
  position: relative;
}
.timeline:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(185, 0, 0, 0.2);
}
.timeline .timeline-item {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
.timeline .timeline-item:after {
  content: "";
  display: block;
  clear: both;
}
.timeline .timeline-item .inner {
  width: 46%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

.timeline-item-content {
  display: flex;
  flex-direction: row;
}

.timeline .timeline-item .inner .date {
  display: block;
  /* width: 60px; */
  /*  height: 50px;*/
  height: 15px;
  width: 25px;

  padding: 5px 0;
  position: absolute;
  top: 15px;
  left: 50%;
  /*margin: 0 0 0 -32px;*/
  margin: 5px 0 0 -15px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303b;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 7px #25303b;
}
.timeline .timeline-item .inner .date {
  display: block;
  text-align: center;
}

.timeline .timeline-item .inner .date .month {
  font-size: 18px;
}
.timeline .timeline-item .inner .date .year {
  font-size: 10px;
}
.timeline .timeline-item .inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
.timeline .timeline-item .inner h2:after {
  content: "";
  position: absolute;
  top: 25px;
  right: -5px;
  width: 10px;
  height: 10px;
  scale: 3;

  -webkit-transform: rotate(-45deg);
}
.timeline-textbox {
  padding-left: 10px;
  padding-right: 10px;

  background: #f5ece5;
  border-radius: 0 0 0px 0px;
  border: 1px solid #c75600;
  width: 50%;
  display: flex;
  align-items: center;
}

.timeline .timeline-item:nth-child(2n + 2) .inner {
  float: right;
}
.timeline .timeline-item:nth-child(2n + 2) .inner h2:after {
  left: -5px;
}

.timeline .timeline-item:nth-child(1) .inner h2 {
  background: #e74c3c;
}
.timeline .timeline-item:nth-child(1) .inner h2:after {
  background: #e74c3c;
}
.timeline .timeline-item:nth-child(2) .inner h2 {
  background: #2ecc71;
}
.timeline .timeline-item:nth-child(2) .inner h2:after {
  background: #2ecc71;
}
.timeline .timeline-item:nth-child(3) .inner h2 {
  background: #e67e22;
}
.timeline .timeline-item:nth-child(3) .inner h2:after {
  background: #e67e22;
}
.timeline .timeline-item:nth-child(4) .inner h2 {
  background: #1abc9c;
}
.timeline .timeline-item:nth-child(4) .inner h2:after {
  background: #1abc9c;
}
.timeline .timeline-item:nth-child(5) .inner h2 {
  background: #9b59b6;
}
.timeline .timeline-item:nth-child(5) .inner h2:after {
  background: #9b59b6;
}

.timeline .timeline-item:nth-child(6) .inner h2 {
  background: #a2b659;
}
.timeline .timeline-item:nth-child(6) .inner h2:after {
  background: #a2b659;
}

.timeline .timeline-item:nth-child(7) .inner h2 {
  background: #e74c3c;
}
.timeline .timeline-item:nth-child(7) .inner h2:after {
  background: #e74c3c;
}

.timeline-image {
  width: 50%;
  height: auto;
}

.burger-button {
  position: absolute;
  top: 1%;
  left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger-item {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  background-color: gray;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  background-color: gray;
}

.menu-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.isopen {
  transform: translateX(0);
}

.isclosed {
  transform: translateX(-100%);
}

.first-open {
  transform: rotate(45deg);
}

.first-closed {
  transform: rotate(0);
}

.second-open {
  opacity: 0;
  transform: translateX(20px);
}

.second-closed {
  opacity: 1;
  transform: translateX(0);
}

.third-open {
  transform: rotate(-45deg);
}

.third-closed {
  transform: rotate(0);
}

.same-line {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.contactpage-box {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  align-self: center;
}
